<html>
    <head>
        <title>Dashboard</title>
    </head>
    <body>
        <h3>User Dashboard</h3>
        <h6>Username - {{.Fulname}} And Password - {{.Username}} </h6>
        <a href="/logout" >Logout</a>
    </body>
</html>